:root{
  --purple: #581790;
}

* {
  font-family: "myFont", "Bitstream Vera Serif", serif;
}

/* if the webpage is too small the background will be pink indicating that the webpage is too small for the screen */

body{
  background-color: pink;
}

@media screen and (min-width: 480px){
  body{
    background-color: white;
  }
}


header {
  /*includes 4 absolute units which are the 50px, 50%, 60%, 1
  
  	also changes the color of the header text so its more visable for the reader
  
  	margin longhand usage
  */
  margin-top: 50px;
  margin-bottom: 50px;
 
  color: red;
  color: hsl(1, 50%, 60%);
  
  text-align: center;
  
  
 
}

:is(h1, h2, h3):has(+ :is(h2, h3, h4)){
  text-decoration: underline;
}

body{
  /*Changes the color from black to purple for all the content in the body
  
  	Also has a fallback variable just incase if the variable doesn't work
  
  	Includes an absolute unit #581790
  */
  
  color: var(--purple, #581790);
  
}

section1{
  color: rgb(100,0,0);

}

li[target]{
  background-color: yellow; 
}

section:has(p){
  text-align: center;
}


section2{
  color: color-mix(in lch, blue, red);
}
      
#agen-1, #agen-2, #agen-3, #agen-4{

  color: white;
}
form{
  /* added background color to the form box*/
  position: static;
  background-color: yellow;
  
}

*.list{
  background: black;
}

p{
  /* padding longhand usage*/
  border: 2px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
  color: black;
  text-decoration: underline dotted blue;
  text-align: center;
}

ol{
  /* padding shorthand usage*/
  padding: 10px 0px 10px 50px;
  display: inline-block;
}

button:hover{
  color: blue;
}

input:hover{
  color: red;
}

input:active{
  box-shadow: 2px 2px #15B3E8;
}

/* these are relative units */
.container {
  display: grid;
  width: 300px;
  border: 2px solid black;
  padding: 20px;
}

.card {
  width: 60%;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  padding: 10px;
  display: inline-block;
  position: relative;
  top: 10px; left: 40px; 
}


/* this is an absolute unit */
.cut{
  /*margin short hand usage*/
  display: flex;
  margin: 10px;
  border: 2px solid blue;
  min-width: 10px
  max-width: 600px
  

}

.grid{
  border-style: solid;
  border-color: black;
  
  background-color: #2196F3;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px auto 80px; 
  
  justify-content: space-evenly;
  
  column-gap: 10px;
  row-gap: 15px;
  
  padding: 10px;
  
}

.item-item{
  background-color: rgba(255, 255, 255, 0.8);
  
  border: 1px solid;
  
  padding: 10px;
  
  font-size: 50px;
  text-align: center;
  
}



.flex-container{
  display: flex;
  
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  background-color: #2196F3;
  padding: 10px;
  
  border: 3px solid black;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  border: 2px solid;
  line-height: 100px;
  align-self: auto;
   
}
